<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body class="font-[Poppins] flex w-full justify-center items-center bg-black mt-10 ">
<div th:switch="${users}" class=" relative flex flex-col w-10/12 p-5 m-10 justify-center items-center ">
    <a href="/add" class="absolute top-1 left-5 px-2 py-1 rounded font-semibold text-violet-800 bg-violet-400  hover:bg-violet-500">
        <i class="bi bi-plus-circle mr-2 text-lg"></i>Add new
    </a>
    <h2 th:case="null" class="text-xl font-semibold my-4">No Data To Display!</h2>
    <div th:case="*" class="w-full text-center">
        <h2 class="text-2xl font-semibold my-8 w-full py-2 bg-gray-900 rounded-lg text-violet-500 shadow-2xl">Users's List</h2>
        <div class="grid grid-cols-4 gap-10 w-full ">
            <div th:each="user : ${users} " class="relative w-full justify-center items-center flex flex-col bg-gray-900 rounded-lg shadow-2xl p-3 ">
                <span class="px-6 pt-6 pb-3 mb-2 w-2/3">
                    <img th:src="@{'/images/' + ${user.avatar} +'.png'}" alt="avatar" class="rounded-full border-4 border-violet-600 p-2" >
                </span>
                <span class="text-center mb-3">
                    <p th:text="${user.name}" class="font-semibold text-lg text-violet-500"></p>
                    <p th:text="${user.email}" class="text-sm text-gray-400"></p>
                 </span>
                <a th:href="@{/delete/{id}(id=${user.id})}">
                    <i class="bi bi-trash-fill absolute bottom-1 right-2 text-lg text-yellow-300 hover:text-yellow-500 hover:scale-125"></i>
                </a>
                <a th:href="@{/edit/{id}(id=${user.id})}">
                    <i class="bi bi-pencil-square absolute top-1 right-2 text-lg text-yellow-300 hover:text-yellow-500 hover:scale-125"></i>
                </a>
            </div>
        </div>
    </div>

    <div th:if="${mode eq 'add' or mode eq 'update'} "
         class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50  backdrop-blur-sm">
        <div class="relative h-3/5 w-1/4 bg-gray-950 border-4 border-violet-700 rounded-lg flex items-center justify-center shadow-xl border border-gray-300">
            <form th:action="${mode eq 'add' ? '/adduser' : '/update/' + user.id}"
                  th:object="${user}" method="post" class="w-full flex flex-col items-center justify-center ">
                <input type="text" hidden="hidden" th:field="*{id}"/>
                <input type="text" hidden="hidden" th:field="*{avatar}"/>
                <span th:switch="${mode}" class="text-violet-600">
                    <p th:case="'add'" class="text-xl font-semibold mb-4">Add user</p>
                    <p th:case="'update'" class="text-xl font-semibold mb-4">Update user</p>
                </span>

                <div class="mb-4 ">
                    <label for="name" class="block text-sm font-medium text-gray-500 font-semibold">Name:</label>
                    <input id="name" th:field="*{name}" type="text" placeholder="Enter your name"
                           class="rounded  text-sm py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700 ">
                </div>
                <div class="mb-4 px-10">
                    <label for="email" class="block text-sm font-medium text-gray-500 font-semibold">Email:</label>
                    <input id="email" th:field="*{email}" type="email" placeholder="Enter your email"
                           class="rounded  text-sm py-2 px-10 my-2 bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700  ">
                </div>
                <span>
                     <button type="submit" class="bg-yellow-200 text-yellow-700 font-medium px-4 py-1.5 rounded-md hover:bg-yellow-400">Submit</button>
                    <a href="/home" class="absolute top-2 right-2 text-yellow-600 ">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </span>

            </form>
        </div>
    </div>
</div>





</body>

</html>
